h1 {
    font-size: 42px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

/* Não mexer acima */


/* Quer dizer que todos os ELEMENTOS dentro da tag article, terão o fundo amarelo
é diferente de utilizar apenas o article sozinho, pois caso ele esteja sozinho, toda a caixa ficaria amarela, e não apenas os elementos */
/* article * {
    background-color: yellow;
}

p {
    background-color: blue;
} */


/* Lista de elementos que quero estilizar (devo utilizazr virgula; funciona com classes, ids, etc) */
/* h1, h2, small, h3, .parag {
    background-color: green;
    border: solid black
}

section article p {
    color: black;
} */


/* Quando clickar e segurar a estilização será aplicada */
/* a:active {
    background-color: red;
} */

/* Quando passar o mouse em cima a estilização será aplicada */
/* a:hover {
    background-color: blueviolet;
} */

/* Caso eu ja tenha clcikado antes a estilização será aplicada */
/* a:visited {
    color: red;
}

h1:hover {
    background-color: blue;
    cursor: wait;
}

input:focus-visible {
    outline: crimson solid;
}

li::marker {
    color: chartreuse;
}

.autor::after{
    content: "\1F600";
}

[href*="pg1" i] {
    background-color: red;
} */

li:nth-child(odd) {
    color: red;
}


/* asterisco é o seletor universal "*" com peso 0 

   ":" = pseudoclasse ; "::"= pseudoelemento

   Utilizando [] posso selecionar dentro atribitos e estiliza-los

   "i"= independente de como o texto está escrito (captalizado) ele vai ler a informação e estiliza-la

   "$"= todos que terminam em (o que estiver escrito dentro) vai ser estilizado

   "^"= todos que iniciarem em (o que estiver escrito dedntro) vai ser estilizado

   "*"= quem estiver com (o que estiver escrito dentro) em qualquer parte, seja no inicio ou no fim, ele vai achar e estiliza-lo [precisa ser escrito colado com o atributo]

    li:nth-child(odd) {
        color: red;
    }
    
    => Isso quer dizer que so filhos impares do elemento li receberao a estilização (posso trocar o ood por even e por numeros, também posso trocar por 3n que significa que a cada dois elementos o 3 receberá a estilização)
   
   
   
   
   
   
   
   
   
*/