.btn {
    height: 32px;
    border: none;
    border-radius: 4px;
    padding: 0 8px;
}

.btn_pequeno {
    height: 24px;
}

.btn_primario {
    background-color: blueviolet;
    color: white;
}

.btn_perigo {
    background-color: crimson;
    color: white;
}

button:disabled {
    cursor: not-allowed;
}